/* CSS-variabler */
:root {
  --primary: #a6a3ac;
  --secondary: #f5f2f2;
}

/* Generelt */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--secondary);
  color: #1b1717;
}

/* Header og navigation */
header {
  background-color: var(--primary);
  color: rgb(9, 8, 9);
  padding: 1rem;
}

/* Links */
a {
  color: rgb(12, 11, 11);
}

/* Indhold */
main {
  padding: 2rem;
}

/* Overskrifter */
h1,
h2,
h3 {
  font-family: Georgia, serif;
}

h1 {
  color: rgb(10, 9, 10);
}

h2 {
  color: rgb(7, 6, 7);
}

h3 {
  color: rgb(7, 6, 6);
}

h4 {
  color: rgb(11, 11, 13);
}

h5 {
  color: rgb(8, 8, 8);
}

/* Billeder */
img {
  width: 100%;
  height: auto;
  margin: 1rem 0;
}
